.card {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    max-width: 350px;
    background-color: #6fcf74;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 30px;
    }

    &__price {
        font-weight: 600;
        font-size: 40px;
    }

}